tomli
tomlkit
rich
typer
appdirs
loguru
faker
aiofiles
python-dateutil
httpx[http2]
python-socks[asyncio]
socksio
cachetools
cryptography
curl_cffi
pydantic>=2
watchfiles
apprise
fastapi
uvicorn[standard]
python-jose[cryptography]
